.preloader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#loader {
  position: absolute;
  top: 150px;
  margin: 0 auto;

  svg {
    width: 100px;
    height: 100px;
    animation: ring-spin 1000ms infinite linear;
  }
}

@keyframes ring-spin {
  100% {
    transform: rotate(360deg);
  }
}


