<tr class="clients__item">
  <td class="client__id">
    <span>{{ client.id.toString().slice(-6) }}</span>
  </td>
  <td class="clients__full-name">
    <span class="clients__surname">{{client.surname}}</span>
    <span class="clients__name">{{client.name}}</span>
    <span class="clients__lastname">{{client.lastName}}</span>
  </td>
  <td class="clients__created">
    <span class="created__date">{{client.createdAt | date: 'dd.MM.yyyy'}}</span>
    <span class="created__time">{{client.createdAt | date: 'HH.mm'}}</span>
  </td>
  <td class="clients__changed">
    <span class="changed__date">{{client.updatedAt | date: 'dd.MM.yyyy'}}</span>
    <span class="changed__time">{{client.updatedAt | date: 'HH.mm'}}</span>
  </td>
  <td class="clients__contacts">
    <div *ngIf="client.contacts && client.contacts.length !== 0; else noContacts">
      <app-contacts
        *ngFor="let contact of client.contacts"
        [contact]="contact"
      ></app-contacts>
    </div>
  </td>
  <td class="clients__actions">
    <button class="clients__edit btn-reset">Изменить</button>
    <button
      class="clients__delete btn-reset"
      (click)="isDeleteModalOpen = true"
    >Удалить
    </button>

  </td>
</tr>

<ng-template #noContacts>
  <span class="no-contacts">Нет данных о контактах</span>
</ng-template>

<app-delete-modal
  *ngIf="isDeleteModalOpen"
  (closeModal)="isDeleteModalOpen = false"
  (deleteClient)="deleteById()"
  [id]="client.id"
></app-delete-modal>

