<tr class="clients__item">
  <td class="client__id">
    <span>242256</span>
  </td>
  <td class="clients__full-name">
    <span class="clients__surname">Новокшонов</span>
    <span class="clients__name">Максим</span>
    <span class="clients__lastname">Сергеевич</span>
  </td>
  <td class="clients__created">
    <span class="created__date">20.12.2022</span>
    <span class="created__time">19:20</span>
  </td>
  <td class="clients__changed">
    <span class="changed__date">20.12.2022</span>
    <span class="changed__time">19:22</span>
  </td>
  <td class="clients__contacts">
  </td>
  <td class="clients__actions">
    <button class="clients__edit btn-reset">Изменить</button>
    <button class="clients__delete btn-reset">Удалить</button>

  </td>
</tr>
