<tr class="clients__item">
  <td class="client__id">
    <span>{{ client.id.slice(-6) }}</span>
  </td>
  <td class="clients__full-name">
    <span class="clients__surname">{{client.surname}}</span>
    <span class="clients__name">{{client.name}}</span>
    <span class="clients__lastname">{{client.lastName}}</span>
  </td>
  <td class="clients__created">
    <span class="created__date">{{client.createdAt | date: 'dd.MM.yyyy'}}</span>
    <span class="created__time">{{client.createdAt | date: 'HH.mm'}}</span>
  </td>
  <td class="clients__changed">
    <span class="changed__date">{{client.updatedAt | date: 'dd.MM.yyyy'}}</span>
    <span class="changed__time">{{client.updatedAt | date: 'HH.mm'}}</span>
  </td>
  <td class="clients__contacts">
  </td>
  <td class="clients__actions">
    <button class="clients__edit btn-reset">Изменить</button>
    <button class="clients__delete btn-reset">Удалить</button>

  </td>
</tr>
