<div class="contact" (focusout)="saveContact()">
  <div class="contact__type" (mouseleave)="closeContacts()">
    <button
      (mouseenter)="openContacts()"
      (click)="openContacts()"
      [class.contact__list--active]="isOpenContacts"
      class="contact__name">{{selectedType}}</button>
    <ul
      [class.contact__list--active]="isOpenContacts"
      class="contact__list list-reset">
      <li
        (click)="setType($event.target)"
        class="contact__item">Телефон</li>
      <li
        (click)="setType($event.target)"
        class="contact__item">Email</li>
      <li
        (click)="setType($event.target)"
        class="contact__item">VK</li>
      <li
        (click)="setType($event.target)"
        class="contact__item">Facebook</li>
      <li
        (click)="setType($event.target)"
        class="contact__item">Другое</li>
    </ul>
  </div>
  <input
    [(ngModel)]="typeValue"
    class="contact__input" placeholder="Введите данные контакта" type="text">
  <button
    (click)="delete()"
    class="contact__delete">
    <svg width="12" height="12" viewBox="0 0 12 12">
      <use xlink:href="/assets/img/icon-sprite.svg#svgDelete"></use>
    </svg>
    <span class="contact-tooltip site-tooltip">Удалить контакт</span>
  </button>
</div>
