<div class="clients">
  <div class="container clients__container">
    <h1 class="clients__heading">Клиенты</h1>
    <div class="clients__wrapper">
      <table class="clients__table">
        <thead class="clients__display display-info">
        <tr class="display-info__wrapper">
          <th
            (click)="sortBy('id')"
            [class.sort-down]="sortDirection === -1 && sortField.getValue() === 'id'"
            [class.sort-up]="sortDirection === 1 && sortField.getValue() === 'id'"
            class="display-info__item display-info__item--id"
          >id</th>
          <th
            (click)="sortBy('surname')"
            [class.sort-down]="sortDirection === -1 && sortField.getValue() === 'surname'"
            [class.sort-up]="sortDirection === 1 && sortField.getValue() === 'surname'"
            class="display-info__item display-info__item--name"
          >Фамилия Имя Отчество
            <span
              class="display-info__sorting heliotrope">а-я</span>
          </th>
          <th
            (click)="sortBy('createdAt')"
            [class.sort-down]="sortDirection === -1 && sortField.getValue() === 'createdAt'"
            [class.sort-up]="sortDirection === 1 && sortField.getValue() === 'createdAt'"
            class="display-info__item display-info__item--create">Дата и время создания
<!--            <span class="create__span"></span>-->
          </th>
          <th
            (click)="sortBy('updatedAt')"
            [class.sort-down]="sortDirection === -1 && sortField.getValue() === 'updatedAt'"
            [class.sort-up]="sortDirection === 1 && sortField.getValue() === 'updatedAt'"
            class="display-info__item display-info__item--change">Последние изменения
<!--            <span class="change__span"></span>-->
          </th>
          <th class="display-info__item display-info__item--contacts">Контакты</th>
          <th class="display-info__item display-info__item--actions">Действия</th>
        </tr>
        </thead>
        <tbody class="clients__tbody"
               *ngIf="clients$ | async as clients"
        >
        <app-client
          *ngFor="let client of clients | searchPipe:searchStr"
          [client]="client"
          (delete)="getAllClients()"
        ></app-client>
        </tbody>
      </table>

      <app-preloader *ngIf="loader"></app-preloader>

    </div>
    <button
      (click)="openAddModal()"
      class="clients__btn btn-reset"
    >Добавить клиента
      <span class="clients__svg">
        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/assets/img/icon-sprite.svg#svgAddUser"></use>
        </svg>
      </span>
    </button>
  </div>

  <app-modal
    *ngIf="isAddModalOpen"
    [title]="'Новый клиент'"
    [saveButtonTitle]="'Добавить'"
    [cancelButtonTitle]="'Отмена'"
    (closeModal)="closeAddModal()"
    (getAll)="getAllClients()"
  ></app-modal>


</div>

